[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
localstack = "*"
moto = "*"
serverless-localstack = "*"
awscli-local = "*"
moto3 = "*"

[requires]
python_version = "3.7"
